:root {
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
    --clr-slate100: #f1f5f9;
    --clr-slate200: #e2e8f0;
    --clr-slate300: #cbd5e1;
    --clr-slate400: #94a3b8;
    --clr-slate500: #64748b;
    --clr-slate600: #475569;
    --clr-slate700: #334155;
    --clr-slate800: #1e293b;
    --clr-slate900: #020617;
    --clr-indigo-600: #4f46e5;
    --clr-purple-500: #a855f7;
    --clr-purple-600: #9333ea;
    --clr-rose-500: #f43f5e;
    --clr-rose-600: #e11d48;
    --clr-artic-lime: #d0ff14;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    height: 100vh;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

header,
footer {
    height: 5rem;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    display: grid;
    place-items: center;
    transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
    opacity: 1;
    transform: translateY(0);
}

header.hidden,
footer.hidden {
    opacity: 0;
    transform: translateY(-100%);
}

footer.hidden {
    transform: translateY(100%);
}

header h1,
footer h1 {
    font-family: 'Nabla', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 600;
    color: var(--clr-slate300);
}

main {
    height: 100%;
    display: grid;
    place-content: center;
    flex-grow: 1;
}

h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    font-weight: 600;
    color: var(--clr-light);
}

.timer {
    /* border: 1px solid yellowgreen; */
    width: 19rem;
    scale: 1;
}

.controls {
    /* background-color: var(--clr-slate800); */
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 0rem 3rem; */
}

.controls button {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: "Clash Display", sans-serif;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 2rem;
    color: var(--clr-light);
    transition: 0.3s;
}

.controls #stopBtn {
    background-color: var(--clr-rose-600);
    box-shadow: 0 4px 15px 0 var(--clr-rose-600);
}

.controls #startBtn {
    background-color: var(--clr-artic-lime);
    color: var(--clr-dark);
    box-shadow: 0 4px 15px 0 var(--clr-artic-lime);
}

.controls #resetBtn {
    background-color: var(--clr-purple-600);
    box-shadow: 0 4px 15px 0 var(--clr-purple-600);
}

.controls #stopBtn:hover {
    background-color: var(--clr-rose-500);
    box-shadow: 0 2px 13px 0 var(--clr-rose-600);
}

.controls #startBtn:hover {
    background-color: var(--clr-artic-lime);
    box-shadow: 0 2px 13px 0 var(--clr-artic-lime);
}

.controls #resetBtn:hover {
    background-color: var(--clr-purple-500);
    box-shadow: 0 2px 13px 0 var(--clr-purple-600);
}

/* External CSS */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-purple-600);
}

::selection {
    background-color: var(--clr-purple-600);
}

/* Responsiveness */

/*sm*/
@media screen and (min-width: 640px) {

    .timer {
        scale: 2;
    }
}

/* xl */
@media screen and (min-width: 1280px) {

    .timer {
        scale: 1.5;
    }
}